*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    overflow-x:hidden;

background: linear-gradient(
        135deg,
        #2b0808 0%,
        #5c1414 20%,
        #791919 40%,
        #8b1e1e 60%,
        #921c1c 80%,
        #912222 100%
);

    transition:
        opacity .7s ease,
        transform .7s ease;
}

html{
    scroll-behavior:smooth;
}

#home,
#about,
#skills,
#projects,
#contact{
    min-height:100vh;
    padding-top:100px;
}