#skills{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:100px 5%;

    position:relative;
    overflow:hidden;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;

    position:relative;
    z-index:2;
}

.skill-box{
    width:170px;
    height:70px;

    display:flex;
    align-items:center;
    gap:12px;

    padding:0 15px;

    border:2px solid #000;
    border-radius:40px;

    background:#2c2a2a;

    color:white;
    font-weight:600;

    transition:.3s;
}

.skill-box img{
    width:40px;
    height:40px;

    object-fit:contain;

    transition:.35s;
}

.skill-box:hover{
    transform:translateY(-8px) scale(1.05);

    border-color:#ff4d4d;

    box-shadow:0 0 20px rgba(255,0,0,.35);
}

.skill-box:hover img{
    transform:scale(1.8) translateY(-12px);
}